body {
  background-color: #cfe2da;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 300;
  word-spacing: 3px;
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.link-bar {
  margin-top: 0;
}

a {
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  font-style: italic;
}

img {
  width: 20%;
}
.footer {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  font-size: 8pt;
}
